<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/styles.css">
		<title>Genres List</title>
	</head>
	<body>
		<div class="container">
			<div class="row homePage">
				<div class="col-2">
					<h3>Genres</h3>
					<div class="list-group">
						{% for g in genres %}
							<a href="{{url_for('view_movie_genres',genre_id=g.id)}}" class="list-group-item list-group-item-success">{{g.name}}</a>
						{% endfor %}
					</div>
					{% if 'name' in session %}
						<h3>Actions</h3>
						<div class="list-group">
							<a href="{{url_for('add_genre')}}" class="list-group-item list-group-item-warning">Add Genre(s)</a>
							<a href="{{url_for('view_genres_to_delete')}}" class="list-group-item list-group-item-warning">Delete Genre(s)</a>
						</div>
					{% endif %}
					</div>
				<div class="col-8">
					<div class="row divider">
						<div class="col-8 homeTitle"><h2>Movies by Selected Genre</h2></div>
						<div class="col-4 welcome">
							<i>Welcome, {{the_user_name}}</i>
							{% if 'name' in session %}
								<a href="{{url_for('logout')}}"><button type="button" class="btn btn-primary">Logout</button></a>
							{% else %}
								<a href="{{url_for('login')}}"><button type="button" class="btn btn-primary">Login</button></a>
							{% endif %}
						</div>
					</div>

					<div class="tableStyle">
						<h3 class="tableTitle">{{genre.name}}</h3>
						{% if 'name' in session %}
							<div class="addButton">
						  	<a href="{{url_for('add_movie', genre_id=genre.id)}}"><button type="button" class="btn btn-success">Add Movies</button></a>
							</div>
						{% endif %}
						<div class="divider"></div>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead class="action">
									<tr><th>Movie Name</th><th>Movie Description</th><th>Action</th></tr>
								</thead>
								<tbody class="action">
									{% for m in movies %}
										<tr><td>{{m.name}}</td><td>{{m.description}}</td>
												{% if m.user_id == session['id'] %}
													<td><a href="{{url_for('edit_movie', movie_id=m.id, genre_id=genre.id)}}"><button type="button" class="btn btn-info">Edit Movies</button></a>
												{% else %}
													<td>None</td>
												{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
